body {
font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
background-image: url(https://s161vla.storage.yandex.net/rdisk/6e86a609c2d664dbee99894a7d5c2458937401f5edad07ade1c4ccba19eb850d/60d9d118/g9gC8pZtqmDT01zRZ5Ajm7v19jB51yS20o2vzjR008M69VMN_eNaqtJBlYzJdlMpR7sn6vMGDnSMOaJGKw6B9g==?uid=545575974&filename=bg.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=545575974&fsize=627514&hid=e344a68c3908ab1a759521787afddbf5&media_type=image&tknv=v2&etag=a9624dd0c52de66fb50493f9c124b80e&rtoken=G31WEdp6PbpK&force_default=yes&ycrid=na-a0346c19b38df9fac9071c81add01f3c-downloader13f&ts=5c5d39ec47600&s=f2c5c69491fb4de918c458a790a8c6b097742625de9ba9e24e6f73fd436f9084&pb=U2FsdGVkX1-6UlxlF73tmRwUtBrVF9bgjSWGG6oJ9ooK3FjT6aNdJ4MGn_irpo4TljV8yBFtsZ_NK8gb6dGhWejCgzbYEiajs8Wj9MYyEJc);
}

h1 {
text-align: center;
text-transform: uppercase;
font-size: 58px;
color: #9a246e;
text-shadow: 0px 0px 6px rgb(0 0 0 / 35%);
}

h2 {
text-align: center;
text-transform: uppercase;
font-size: 38px;
color: #9a246e;
text-shadow: 0px 0px 6px rgb(0 0 0 / 35%);
}

.title {
text-transform: uppercase;
color:white;
font-size: 20px;
text-align: center;
font-weight: bold;
}

.alinks {
text-decoration: none
}

.mainbody {
margin-left: auto;
margin-right: auto;
background-color: #ffffffe3;
width: 1000px;
border: 3px solid #a13076;
border-radius: 10px;
margin-top: 50px;
padding-bottom: 50px;
background-image: url(https://s664sas.storage.yandex.net/rdisk/3a571948f428f44da946311460f886dbf036e648e4d6c9cf2df6186abd14ec11/60d9d13f/g9gC8pZtqmDT01zRZ5AjmzDi_xaml1PVkyVuZY9tn2mzVyddJ98cjqHt7j3YTmxraDJC6uBHsHAqRbZzCm9P9A==?uid=545575974&filename=heart.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=545575974&fsize=18512&hid=95d47417bc1feb485dffbb4183579717&media_type=image&tknv=v2&etag=122695249126c65a9fe5bcca8ffb6913&rtoken=uM3NcTureVGa&force_default=yes&ycrid=na-8c00a2908cb141094fa173f1aa048d42-downloader4h&ts=5c5d3a1178dc0&s=5142bdede48b35c07c71ab23c4b69e44fab9e285a998a6c351c0c664a49846d3&pb=U2FsdGVkX18bDhlNf6uLpPZTwQ0-egslZsyIwyciBORtC3einCl4KWev2MZ7T5VdP9KfCwqBOsnvNjeauiRxknwQS4vmF_FDtu44Msd9q74);
background-repeat: no-repeat;
background-size: 614px;
background-position: 185px -43px;
}

.mainbodycard {
margin-left: auto;
margin-right: auto;
background-color: #ffffffe3;
width: 1000px;
border: 3px solid #a13076;
border-radius: 10px;
margin-top: 50px;
padding-bottom: 50px;
background-image: url(https://s664sas.storage.yandex.net/rdisk/3a571948f428f44da946311460f886dbf036e648e4d6c9cf2df6186abd14ec11/60d9d13f/g9gC8pZtqmDT01zRZ5AjmzDi_xaml1PVkyVuZY9tn2mzVyddJ98cjqHt7j3YTmxraDJC6uBHsHAqRbZzCm9P9A==?uid=545575974&filename=heart.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=545575974&fsize=18512&hid=95d47417bc1feb485dffbb4183579717&media_type=image&tknv=v2&etag=122695249126c65a9fe5bcca8ffb6913&rtoken=uM3NcTureVGa&force_default=yes&ycrid=na-8c00a2908cb141094fa173f1aa048d42-downloader4h&ts=5c5d3a1178dc0&s=5142bdede48b35c07c71ab23c4b69e44fab9e285a998a6c351c0c664a49846d3&pb=U2FsdGVkX18bDhlNf6uLpPZTwQ0-egslZsyIwyciBORtC3einCl4KWev2MZ7T5VdP9KfCwqBOsnvNjeauiRxknwQS4vmF_FDtu44Msd9q74);
background-repeat: no-repeat;
background-size: 1000px;
background-position: 0px -95px;
}

.padding50 {
padding-bottom: 50px;
}

.padding140 {
padding-bottom: 140px;
}

.form p {
margin-left: auto;
margin-right: auto;
text-align: center;
text-transform: uppercase;
font-weight: bold;
color: white;
}

.inputtext {
border: 2px solid #a13076;
border-radius: 4px;
padding: 4px;
}

.firstbutton {
text-align: center;
text-transform: uppercase;
padding: 14px;
font-weight: bold;
font-size: 22px;
border: 2px solid #a13076;
width: 160px;
//border-radius: 5px;
border-radius: 50px 50px 8px 8px;
margin-bottom: 12px;
margin-left: 40.5%;
color: white;
background-color: #a13076;
cursor: pointer;
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
}

.middlebutton {
text-align: center;
text-transform: uppercase;
padding: 14px;
font-weight: bold;
font-size: 22px;
border: 2px solid #a13076;
width: 160px;
//border-radius: 5px;
border-radius: 8px;
margin-bottom: 12px;
margin-left: 40.5%;
color: white;
background-color: #a13076;
cursor: pointer;
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
}

.endbutton {
text-align: center;
text-transform: uppercase;
padding: 14px;
font-weight: bold;
font-size: 22px;
border: 2px solid #a13076;
width: 160px;
//border-radius: 5px;
border-radius: 8px 8px 50px 50px;
margin-bottom: 12px;
margin-left: 40.5%;
color: white;
background-color: #a13076;
cursor: pointer;
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
}

.firstbutton:hover {
color: #a13076;
background-color: white;
transform: scale(1.01);
-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.73);
-moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.73);
box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.73);
}

.middlebutton:hover {
color: #a13076;
background-color: white;
transform: scale(1.01);
-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.73);
-moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.73);
box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.73);
}

.endbutton:hover {
color: #a13076;
background-color: white;
transform: scale(1.01);
-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.73);
-moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.73);
box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.73);
}

.imgavatar {
width: 300px;
border: 3px solid #9a246e;
border-radius: 23px;
margin-left: auto;
margin-right: auto;
margin-top: -134px;
}

.tablep {
max-width: 600px;
padding-top: 20px;
padding-bottom: 22px;
}

.tablep p {
text-transform: uppercase;
color: white;
font-size: 20px;
text-align: center;
font-weight: bold;
}

.usercard {
text-align: center;
border: 2px dotted #9a246e;
border-radius: 23px;
max-width: 600px;
margin-left: auto;
margin-right: auto;
background-color: #f0628a;
}

.insertfont {
color: black;
font-size: 20px;
text-align: center;
text-transform: uppercase;
padding-left: 10px;
}

.errors {
color: red;
padding: 10px 29px;
margin-left: auto;
margin-right: auto;
width: 500px;
border-radius: 5px;
//border: 2px dotted #a13076;
background-color: cornsilk;
font-weight: bold;
font-size: 14px;
line-height: 17px;
}