<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="mainbodycard">
    <h1>Real Dating</h1>
    <center>
        <div class="title" th:text="'My profile: ' + ${login.getLogin()}" th:if="${authentication}">user</div>
        <div class="title" th:text="${login.getLogin()}" th:if="${!authentication}" style="font-size:24px;">user</div>
    </center>
    <div class="padding140"></div>
    <div class="usercard" >
        <img th:src="'data:image/png;base64,' + ${userCardPhoto}" class="imgavatar" th:if="${avatar}"/>
        <div class="defaultuseravatar" style="margin-top: -134px;" th:if="${!avatar}"> </div>

        <!-- счетчик лайков, только для своей анкеты -->
        <div th:if="${authentication}" style="font-size:24px;">
            <center style="padding-top: 6px;">
                <div  th:text="'likes : ' + ${userCard.getLikeUserCard()}" class="likes-count" style="border-radius: 6px!important;">like</div>
            </center>
        </div>

        <!-- форма для отправки/добавки лайка карточке пользователя (со счетчиком), только для чужих анкет-->
        <form method="post" th:action="'/add-like/' + ${login.getId()}" enctype = "application/x-www-form-urlencoded" class=form th:if="${!authentication}">
            <center style="padding-top: 6px;">
                <div  th:text="'likes : ' + ${userCard.getLikeUserCard()}" class="likes-count">like</div>
            </center>
            <input type="submit" value="add like" class="add-like-button">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>


        <table align="center" border="0" cellpadding="1" cellspacing="1" style="max-width: 500px" class="tablep">
            <tbody>
            <tr>
                <td>
                    <p>
                        About me:
                    </p>
                </td>
                <td>
                    <div th:text="${userCard.getAboutMe}" class="insertfont">user</div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Interests:
                    </p>
                </td>
                <td>
                    <div th:text="${userCard.getInterests}" class="insertfont">user</div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Age:
                    </p>
                </td>
                <td>
                    <div th:text="${userCard.getAge}" class="insertfont">user</div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Gender:
                    </p>
                </td>
                <td>
                    <div th:text="${userCard.getGender}" class="insertfont">user</div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Status:
                    </p>
                </td>
                <td>
                    <div th:text="${userCard.getStatus}" class="insertfont">user</div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="menu-area">
            <a href="/look-users" class="alinks">
                <div class="middlebutton">Find your soul mate</div>
            </a>
            <a href="/menu/user-menu" class="alinks">
                <div class="middlebutton">Go to menu</div>
            </a>
        </div>

</div>
</body>
</html>