<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class = "mainbody">
<h1>Real Dating</h1>

<center>
    <div class = "title" style="display: inline-flex;">
        <div th:text="'Find your soul mate: ' + ${getLogin}" >user</div>
    </div>
</center>
<div class = "padding140"></div>
    <div class="merge">

        <div class = "userslook">
            <center>

                <div th:each="photo : ${userCardPhoto}" class = "usercardmini">
                    <img th:src="'data:image/png;base64,' + ${photo}" class = "miniavatar" th:if="${photo != null}"/>
                    <div class="defaultuseravatar" th:if="${photo == null}"> </div>

                </div>

            </center>
        </div>

        <div class = "userslook2">
            <center>

                <div th:each="userCard : ${listOfUserCards}" class="fortextcard">
                    <div th:text="${userCard.getLogin()}" ></div>
                    <div th:text="${userCard.getAge()}" ></div>
                    <div th:text="${userCard.getGender()}" ></div>
                    <div th:text="${userCard.getStatus()}" style = "padding-bottom: 8%;"></div>
                    <a th:href="@{'/user/'+ ${userCard.getId()} + '/profile'}">
                        <div class="mini-profile-button">look profile</div>
                    </a>
                </div>

            </center>
        </div>

    </div>
</div>
</body>
</html>