<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class=mainbody>
    <h1>Real Dating</h1>
    <p class="title">log in to your profile</p>
    <form method="post" action="/user/log-in" enctype = "application/x-www-form-urlencoded" class=form>
        <p>
            <label>
                Login:
                <input type="text" name="login" class=inputtext>
            </label>
        </p>
        <p>
            <label>
                Password:
                <input type="password" name="password" class=inputtext>
            </label>
        </p>
        <div class="menu-area">
        <input type="submit" value="send" class="middlebutton" style="width: 192px!important;">
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</div>

</body>
</html>