<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="mainbodycard">
    <h1>Real Dating</h1>
    <p class="title">register new user</p>
    <form method="post" action="/user/register" enctype = "application/x-www-form-urlencoded" class="form" th:object="${registrationForm}">
        <p>
            <label>
                Login:
                <input type="text" name="login" th:value="${registrationForm.login}" class="inputtext">
            </label>
        <ul>
        <li th:each="error : ${#fields.errors('login')}" th:text="${error}" class="errors"></li>
        </ul>
        </p>
        <p>
            <label>
                Password:
                <input type="password" name="password" class="inputtext">
            </label>
        <ul>
            <li th:each="error : ${#fields.errors('password')}" th:text="${error}" class="errors"></li>
        </ul>
        </p>
        <p>
            <label>
                Password confirmation:
                <input type="password" name="passwordConfirmation" class="inputtext">
            </label>
        <ul>
            <li th:each="error : ${#fields.errors('passwordConfirmation')}" th:text="${error}" class="errors"></li>
        </ul>
        </p>
        <input type="submit" value="send" class="middlebutton">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</div>

</body>
</html>