<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class=mainbody>
    <h1>Real Dating</h1>
    <p class=title>register new user</p>
    <form method="post" action="/user/register" enctype = "application/x-www-form-urlencoded" class=form>
        <p>
            <label>
                Login:
                <input type="text" name="login" th:value="${registrationForm.login}" class=inputtext>
            </label>
        </p>
        <p>
            <label>
                Password:
                <input type="password" name="password" class=inputtext>
            </label>
        </p>
        <p>
            <label>
                Password confirmation:
                <input type="password" name="passwordConfirmation" class=inputtext>
            </label>
        </p>
        <input type="submit" value="send" class=middlebutton>
    </form>
</div>

</body>
</html>