<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class=mainbody>
    <h1>Real Dating</h1>

    <center>
        <div class=title style="display: inline-flex;">
            <div th:text="'User menu: ' + ${userSession.getLogin}" >user</div>
        </div>
    </center>

    <div class=padding50></div>

    <a href="/" class=alinks th:if="${userSession.loggedIn}">
        <div class=firstbutton>Look my profile</div>
    </a>

    <a href="/usercard/edit-usercard" class=alinks th:if="${userSession.loggedIn}">
        <div class=middlebutton>Edit my profile</div>
    </a>

    <a href="/menu/logout" class=alinks th:if="${userSession.loggedIn}">
        <div class=endbutton>Log out</div>
    </a>

</div>
</body>
</html>