<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="mainbody">
    <h1>Real Dating</h1>

    <div class="padding50"></div>

    <div class="menu-area">

    <a href="/look-users" class="alinks" th:if="${loggedIn}">
        <div class="firstbutton">Find your soul mate</div>
    </a>

    <a href="/menu/user-menu" class="alinks" th:if="${loggedIn}">
        <div class="endbutton">Go to menu</div>
    </a>

    <a href="/user/log-in" class="alinks" th:if="${not loggedIn}">
        <div class="firstbutton">Log in</div>
    </a>

    <a href="/user/register" class="alinks" th:if="${not loggedIn}">
        <div class="endbutton">Sign up</div>
    </a>

    </div>

</div>

</body>
</html>